*{
    overflow-x: hidden;
}
body{
    background: #1d2630;
    overflow-x: hidden !important;
    
}
#Update{
    display: none;
}
table{
    width: 100vw;
}
#number{
    
}

td{
    width: 16vw;

}

